.cartWidget {
    display: flex;
    width: 15vh;
    gap: 1vh;
    align-content: last baseline;
    padding: 0;
}

.cartWidget__img {
    width: 50%;
    height: 50%;
    align-self: center;
}
.cartWidget__p {
    align-self: center;
    font-size: 1.5rem;
}