.header {
    display: grid;
    grid-template-columns: 15% 80%; 
    grid-template-rows: 60% 40%; 
    grid-gap: 10px; 
    grid-template-areas:
    "img title"
    "img nav";
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    background-color: rgb(70, 70, 70);
}

.header__img {
    justify-self: center;
    width: 100%;
    object-fit: contain;
    border-radius: 25px;
    margin-left: 5px;
    grid-area: img;
}

.header__title {
    align-self: center;
    justify-self: center;
    font-style: italic;
    grid-area: title;
    font-size: 4rem;
}
